body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  padding: 1rem;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 70px; /* evită suprapunerea cu navbar */
  padding: 4rem 1rem;      /* spațiu aerisit */
}
